{% load static %}
<link rel="stylesheet" href="  {% static 'bjp/footerutilisateur.css' %}">
<title style="color: blue;"> SuperPharma-listes des utilisateurs</title>
<link rel="icon" type="image/x-icon" href="{% static 'bjp/logo.ico' %}">

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Liste des utilisateurs</h2>

    {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    <div style=" color: red; text-align: center; padding: 1.2rem;" class="alert alert-{{ message.tags }}">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            </div>
     {% endif %}
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Date d'inscription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td>{{ utilisateur.username }}</td>
                    <td>{{ utilisateur.email }}</td>
                    <td>{{ utilisateur.date_joined|date:"d/m/Y H:i" }}</td>
                    <td>
                        <!-- Action pour modifier l'utilisateur -->
                        <a href="{% url 'modifier_utilisateur' utilisateur.id %}" class="btn btn-primary btn-sm">Modifier</a>
                        <!-- Action pour supprimer l'utilisateur avec confirmation -->
                        <a href="{% url 'supprimer_utilisateur' utilisateur.id %}" class="btn btn-danger btn-sm" 
                           >Supprimer</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">Aucun utilisateur trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="footer">
        <div class="footer-container">
            <ul class="footer-list">
                <li><a href="{% url 'acc' %}">Home</a></li>
                <li><a href="{% url 'home' %}">Listes des Médicaments</a></li>
                <li><a href="{% url 'produits' %}">Stocks</a></li>
                <li><a href="{% url 'historique_ventes' %}">Historiques des ventes</a></li>
                <li><a href="{% url 'historique_achats' %}">Historiques des Achats</a></li>
                <li><a href="{% url 'historique_commande' %}">Bon de commande</a></li>
                <li><a href="{% url 'historique_devis' %}">Devis</a></li>
                <li><a href="{% url 'rapports_statistiques' %}">Rapports et Statistiques</a></li>
                <li><a href="{% url 'parametre' %}">Paramètre</a></li>
                <li><a href="{% url 'notifications' %}">Notifications</a></li>
            </ul>
            <div class="footer-account">
                {% if user.is_authenticated %}
                    <a href="{% url 'deconnection' %}" class="logout">Deconnexion</a>
                {% endif %}
            </div>
        </div>
        <div class="footer-bottom">
            
            <p>&copy; 2025 SUPERPHARMA. Tous droits réservés.</p>
        </div>
    </div>
</div>
{% endblock %}
