{% load static %}
<!DOCTYPE html>
<html lang="fr" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width =device-wiidth, initial-scale=1.0">
  <title>Modification des données</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'font-awesome.min.css' %}">
 
  
  
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->

</head>
<body>

    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h3>Modification des produits</h3>
                <p class="blue-text" style="color: red";>Veillez noter que<br>tout les champs sont obligatoires</p>
                <div class="card">
                    <h5 class="text-center mb-4">PHARMACIE</h5>
                    <form class="form-card" method="POST"  enctype="multipart/form-data"> 
                       
                        {% csrf_token %}

                        {% if messages %}
                            <ul classe ="messages">
                                {% for message in messages %}
                                <li {% if message.tags %} class = "{{ message.tags }}" {% endif %} style ="color: red;">
                                    {{message}}
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                 
                            <label class="form-control-label px-3">Le nom du produit<span class="text-danger"> *</span></label> 
                            {{form.name}}

                            <div class="text-danger">{{form.name.errors}}</div>
                            
                            
                            {% comment "" %}<input type="text" id="name" name="name" placeholder="Enterz le nom du produit" onblur="validate(1)"Request> {% endcomment %}
                                    {% if errors.name %}
                                    <div class ="error" style="color:red;">
                                         <p> {{errors.name}} </p>
                                    </div>
                                    {% endif %}

                              </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Veuillez selectionner la categorie<span class="text-danger"> *</span></label> 
                             
                                {{form.category}}

                                <div class="text-danger">{{form.category.errors}}</div>
                             
                              {% comment "" %} <select name="category" id="category" required>

                                   {% for  category in category %}

                                       <option value="{{category.pk}}">{{category.name}}</option>
                                    {% endfor %}
                               </select>{% endcomment %}

                                {% if errors.category %}
                                    <div class ="error" style="color:red;">
                                         <p> {{errors.category}} </p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Le prix du produit<span class="text-danger"> *</span></label>
                                {{form.price}}

                                <div class="text-danger">{{form.price.errors}}</div>
                                
                                
                                {% comment %} <input type="text" id="price" name="price" placeholder="Enterz le prix du produit" onblur="validate(3)"Request>  {% endcomment %}
                                {% if errors.price %}
                                   <div class ="error" style="color:red;">
                                        <p> {{errors.price}} </p>
                                   </div>
                                {% endif %}
                            
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Le quantité du produit<span class="text-danger"> *</span></label> 
                                {{form.quantite}}

                                <div class="text-danger">{{form.quantite.errors}}</div>
                                
                                
                                {% comment %} <input type="text" id="quantite" name="quantite" placeholder="Enterz la quantité du produit" onblur="validate(4)"Request> {% endcomment %}
                                {% if errors.quantite %}
                                    <div class ="error" style="color:red;">
                                        <p> {{errors.quantite}} </p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">La date d'expiration du produit<span class="text-danger"> *</span></label> 
                                {{form.date_expiration}}

                                <div class="text-danger">{{form.date_expiration.errors}}</div>
                                
                                {% comment %} <input type="text" id="date_expiration" name="date_expiration" placeholder="YYYY-MM-JJ" onblur="validate(5)"Request>  {% endcomment %}
                                {% if errors.date_expiration%}
                                    <div class ="error" style="color:red;">
                                        <p> {{errors.date_expiration}} </p>
                                    </div>
                                {% endif %}
                            
                                </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">image du produit<span class="text-danger"> *</span></label> 
                                {{form.image}}

                                <div class="text-danger">{{form.image.errors}}</div>
                               
                                {% comment %} <input type="file" id="image" name="image" placeholder="" onblur="validate(5)"> </div> {% endcomment %}
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3">La description du produit<span class="text-danger"> *</span></label> 
                                {{form.description}}

                                <div class="text-danger">{{form.description.errors}}</div>
                                
                                {% comment %} <input type="text" id="description" name="description" placeholder="Enterz la description du produit" onblur="validate(6)"Request> {% endcomment %}
                                {% if errors.description %}
                                <div class ="error" style="color:red;">
                                     <p> {{errors.description}} </p>
                                </div>
                                {% endif %}
                            
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="form-group col-sm-4">
                                <input type="submit" class="btn-block btn-primary" value="Enregister" style="text-transform: uppercase;">
                                 <!--button type="submit" >Enregister</!--button> </div-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script  src="{% static 'script.js' %}"></script>

<script src="{% static 'bootstrap.min.js' %}"></script>

</html>
